<a href="https://colab.research.google.com/github/Gauri2826/Gauri2826-python-assignment/blob/main/Copy_of_python_arithmetic_operators_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [ ]:
a=8
b=12
c=a+b
print(c)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [ ]:
a=7
b=20
print(a-b)

-13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [ ]:
a=6
b=9
c=a*b
print(c)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [ ]:
from binascii import b2a_base64
a=45
b=9
c=a/b
print(c)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [ ]:
a=45
b=9
c=a//b
a=50
b=6
d=a//b
print(c)
print(d)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [ ]:
a=29
b=5
c=a%b
print(c)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [ ]:
# Answer here
num=3
power=4
print(num**power)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [ ]:
# Answer here
a=6

print(+a)
print(-a)

6
-6

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [ ]:
# Answer here
a=5 + 3 * 2
b=(5 + 3) * 2
print(a)
print(b)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [ ]:
a=15
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [ ]:
n=10
n+=5
print(n)
n=10
n*=2
print(n)
n=10
n-=4
print(n)

15
20
6

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [ ]:
# Answer here
x=3
y=7
x,y=y,x
# x = y
# y = x
print(x,y)

7 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
#take input from user
num1=input("enter first number" )
num2=input("enter second number" )
result=(int(num1)+float(num2))
print(result)

enter first number4
enter second number5.5
9.5

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
#take the unput of three numbers from user
num1=float(input("enter first number: "))
num2=float(input("enter second number: "))
num3=float(input("enter third number: "))
avg=(num1+num2+num3)
print(avg)

enter first number: 2.5
enter second number: 1.5
enter third number: 3.5
7.5

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
radies=float(input("enter radies of circle: "))
circumference=2*3.14159*radies
area=3.14*radies**2
print(area)
print(circumference)

enter radies of circle: 3
28.26
18.849539999999998

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
second=int(input("enter the total number of second: "))
minutes=(1/60*second)
hour=
print(minutes)

SyntaxError: invalid syntax (ipython-input-1499471365.py, line 5)

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [ ]:
from IPython.core.completer import time
principal=int(input("enter the number: "))
rate=float(input("enter the rate of interest in percentage: "))
time=float(input("enter the time: "))
simple_interest=(principal*rate*time/100)
print(simple_interest)

enter the number: 1000
enter the rate of interest in percentage: 6
enter the time: 2
120.0