# Python Variables Practice (Assignment 1)

**Topics Covered:**
- Variable creation
- int, float, str, bool data types
- Printing variables
- f-strings

## Section 1: Variable Creation & Printing

### Question 1
Create a variable to store your **age** and print it.

In [1]:
# write your answer

age =35

print(age)

35

### Question 2
Create a variable to store the **price of a notebook** (can be a decimal value) and print it.

In [6]:
# write your answer
a=4.5
print("price of notebook =",4.5)

price of notebook = 4.5

### Question 3
Create a variable to store your **first name** and print it.

In [29]:
# write your answer
name=("gauri shankar")
print("first name",name)

first name gauri shankar

### Question 4
Create a variable to store whether you have **completed todayâ€™s class** (True/False) and print it.

In [13]:
# write your answer
completed_class=True
print(completed_class)

True

### Question 5
Create two variables:
- one to store the **number of classes attended**
- one to store the **average rating** (float)
Print both.

In [30]:
# write your answer
classes_attended=24
rating=4.5
print("number of classes attended",{classes_attended})
print("avg rating",(rating))

number of classes attended {24}
avg rating 4.5

## Section 2: Printing using f-strings

### Question 6
Create variables for **name** and **age** and print:
> My name is Rahul and I am 22 years old.

In [46]:
# write your answer
name="rahul"
age=22
print("my name is", name, "and" ,"i am",age,"years olg." )

my name is rahul and i am 22 years olg.


### Question 7
Create variables for **item name** and **price** and print:
> The price of Pen is 10.5 rupees.

In [45]:
# write your answer
item_name="pen"
price=10.5
print("The price of",item_name,"is",price,"rupees.")

The price of pen is 10.5 rupees.

### Question 8
Create variables for **batch name** and **class completed status** and print:
> Batch DA10 class completed status is True.

In [52]:
# write your answer
batch_name="DA10"
class_status=True
print("Batch",batch_name,"class completed status is",True)

Batch DA10 class completed status is True